{%extends 'dashboard/base.html' %} {% block head_title %} Cancel Your Subscription?
{{block.super}} {% endblock head_title %} {% block content%} {% if subscription.is_active %}
<h1 class="text-lg font-medium">
  Are you sure you want to cancel your {{ subscription.plan_name }} Subscription?
</h1>

<form action="" method="POST">
  {% csrf_token %}
  <br>
  <button type="submit" style="background-color: red; color: white; border: none; padding: 10px 20px; border-radius: 5px;">Yes, Cancel</button>
<br><br>
<a href="{{ subscription.get_absolute_url }}" style="background-color: green; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">No, go back</a>
</form>
{% else %}
<h1 class="text-lg font-medium">You no longer have an active subscription</h1>

{% endif %}

{% endblock content %}
